$orange: #F37335;
$golden_yellow: #FDC830;


// pokemon color type

$bug: #59bf76;
$dark: #3f3a38;
$dragon: #8b1fba;
$ice: #1fe8ef;
$rock: #937e14;
$grass: #5eea33;
$psychic: #f48df4;
$flying: #9e87e5;
$steel: #b1b2c6;
$fire: $orange;
$fight: #c44121;
$ground: #e0c635;
$ghost: #614a91;
$poison: #c349d1;
$water: #5e92e0;
$fairy: #fcc2fc;
$electric: #f2ef98;
$normal: #c0c1b4;
