@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@mixin debug { 
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

nav { 
    @include debug();

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 4em;
    background-color: $black;

    .nav__btns {
        display: flex;
        gap: 12px;
    }
}


.btn {
    padding: 12px;
    background: none;
    outline: none;
    color: $white;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;

    &.border {
        border: 1px solid $white;
        border-radius: 12px;
        transition: background-color 150ms linear;
    }
    &.border:hover {
        background-color: darken($blue, 20%);
    }
    &.hollow {
        border: 1px solid $white;
        border-radius: 12px;
        transition: background-color 100ms linear;
    }
    &.hollow:hover {
        background-color: $white;
        color: $black;
    }
    &.big {
        font-size: 1.3rem;
    }
    &.blueish {
        background-color: $blue;
    }

}

.logo { 
    text-decoration: none;
    color: $white;
    font-size: 1.2rem;
    font-weight: 600;

    > i {
        font-size: 1.3rem;
    }

    >.logo__half {
        font-weight: 400;
        font-size: 1.4rem;
    }
}




