@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');


@import 'colors';


@mixin debug {
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Playpen Sans", cursive;
    background-color: lighten($base, $amount: 10);
}

nav {
    padding: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $base;
    color: $white;

    .sort { 

        display: flex;
        gap: 25px;

        .collection-sort {
            display: flex;
            gap: 10px;
            select { 
                font-family: "Rubik", sans-serif;
            }
        }
    }


}

section {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 84px);
    gap: 15px;


    .card {

        display: flex;
        flex-direction: column;
        background-color: $white;
        flex-basis: 5%;

        border-radius: 12px;
        padding: 1em;
        gap: 10px;

        .card__photo img {
            object-fit: cover;
            width: 300px;
            height: 300px;
        }
    }
}

.btn { 
    border: none;
    font-size: 1rem;
    padding: .5em;
    background-color: $pastel_purple;
    color: $white;
    border-radius: 12px;
    
    &:hover {
        background-color: darken($pastel_purple, 10);
    }

    &.big {
        font-size: 2rem;
    }

    &.navIcon {
        display: none;
        font-size: 2rem;
    }
}

.label {
    font-size: 1.1rem;
    font-weight: 500;
}


.text-logo { 
    color: $white;
    font-family: "Playpen Sans", cursive;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.9rem;
}


@media screen and (max-width: 560px) {

    nav {

        &.responsive {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 100vh;
            transition: top 3s linear;
            .sort {
                display: flex;
            }
        }

        .sort {
            display: none;
        }
    }

    .btn.navIcon {
        display: block;
    }
}


